---
import { Picture } from '@astrojs/image/components';
interface Props {
  title: string;
  text: string;
  imgUrl: string;
  bgGraphicUrl: string;
  Underline: any;
  direction: 'text-left' | 'text-right';
}

const { title, text, imgUrl, bgGraphicUrl, Underline, direction } = Astro.props;
---

<div class={`wrapper--feature ${direction}`}>
  <div class="container--text">
    <div class="heading-feature">
      <h2 set:html={title} class="heading-secondary" />
      <div class="container-underline">
        <Underline />
      </div>
    </div>

    <p>{text}</p>
  </div>
  <div class="container--img">
    <Picture
      src={imgUrl}
      alt="Screenshot des Eleno-Apps"
      widths={[700]}
      aspectRatio={700 / 386.813}
    />
    <!-- <img src={imgUrl} alt="" /> -->
  </div>
</div>

<style lang="scss">
  .wrapper--feature {
    margin: 0 auto;
    padding-block: 15rem;
    padding-inline: 4.2rem;
    // max-width: 80rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6.2rem;
    max-width: 170rem;

    &.text-right {
      flex-direction: row-reverse;
    }

    .container--text {
      flex: 1;

      .heading-feature {
        position: relative;
        margin-bottom: 3.2rem;
        width: fit-content;
        isolation: isolate;
        .container-underline {
          position: absolute;
          bottom: -8px;
          width: 100%;
          z-index: -1;
          svg {
            color: red;
          }
        }
        .heading-secondary {
          font-weight: 400;
          margin-bottom: 0;
          line-height: 1;
          width: fit-content;
        }
      }
      p {
        font-size: 1.8rem;
      }
    }
    .container--img {
      flex: 1;
      img {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        width: 100%;
      }
    }
  }

  @media (max-width: 1084px) {
    .wrapper--feature {
      flex-direction: column;
      gap: 0;
      padding-block: 4rem;
      .container--text {
        .heading-secondary {
          margin-bottom: 2rem;
        }
      }

      &.text-right {
        flex-direction: column;
      }
    }
  }

  @media (max-width: 680px) {
    .wrapper--feature {
      padding-inline: 0;
      padding-block: 5.6rem;
    }
  }
</style>
